<div class="fixed-header-table risks-identified-region main-wrap">
    <table>
        <tr>
            <th class="column-1">Section</th>
            <th class="column-2">
                <div class="d-flex">
                    <span class="mr-3">
                        Status
                    </span>
                </div>
            </th>
            <th class="column-3">
                <div class="d-flex">
                    <span class="mr-3">
                        Reviewed
                    </span>
                </div>
            </th>
            <th class="column-4">
                <div class="d-flex">
                    <span class="mr-3">
                        Last update
                    </span>
                </div>
            </th>
            <th class="column-7"></th>
        </tr>
        <tbody>
            <tr>
                <td colspan="7" class="p-0">
                    <mat-accordion class="accordion-styles" multi>
                        <!-- Ownership structure -->
                        <div *ngIf="summaryDocs">
                            <div *ngFor="let docs of summaryDocs.entity_documents">
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <table>
                                                <tr>
                                                    <td class="column-1">
                                                        <div class="d-flex">
                                                            <h3>
                                                                {{ docs.name }}
                                                            </h3>
                                                            <span
                                                                class="number head d-flex align-items-center"
                                                                >{{ docs?.types?.length }}</span
                                                            >
                                                        </div>
                                                    </td>
                                                    <td class="column-2 ">
                                                        <app-progress-button
                                                            [progress]="docs.progressStatus"
                                                        >
                                                        </app-progress-button>
                                                    </td>
                                                    <td class="column-3 m-0 p-0">
                                                        <!-- <img
                                                            src="assets/images/tick.svg"
                                                        /> -->
                                                    </td>
                                                    <td class="column-4">
                                                        &nbsp;
                                                    </td>
                                                </tr>
                                            </table>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div [ngSwitch]="docs?.name">
                                        <app-progress-table
                                            *ngSwitchCase="'Connected Individuals'"
                                            [docs]="personDocs?.docs"
                                            [type]="'person'"
                                        ></app-progress-table>
                                        <app-progress-table
                                            *ngSwitchDefault
                                            [docs]="docs?.types"
                                        ></app-progress-table>
                                    </div>
                                    <div *ngIf="docs?.types?.length === 0">
                                        <h2 class="noDocs">No documents requested</h2>
                                    </div>
                                </mat-expansion-panel>
                            </div>
                        </div>

                        <!-- additional requests -->
                        <mat-expansion-panel *ngIf="additionalRequests">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <table>
                                        <tr>
                                            <td class="column-1">
                                                <div class="d-flex">
                                                    <h3>
                                                        Additional Requests
                                                    </h3>
                                                    <span
                                                        class="number head d-flex align-items-center"
                                                        >{{ additionalReqCount }}</span
                                                    >
                                                </div>
                                            </td>
                                            <td class="column-2">
                                                <app-progress-button
                                                    [progress]="additionalRequests.progressStatus"
                                                >
                                                </app-progress-button>
                                            </td>
                                            <td class="column-3">
                                                &nbsp;
                                            </td>
                                            <td class="column-4">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <app-progress-table
                                [docs]="additionalRequests.docs"
                                [type]="'additionalRequests'"
                            >
                            </app-progress-table>
                        </mat-expansion-panel>
                    </mat-accordion>
                    <div *ngIf="!summaryDocs && !personDocs && !companyDocs">
                        <h3 class="noData">No documents requested</h3>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
