<mat-card class="request-card p-sm-5 mt-3">
    <mat-card-title class="request-card_title mb-sm-4"
        >Please select Product(s) or Service(s)</mat-card-title
    >
    <mat-card-content>
        <div class="request-card_content">
            <ng-container *ngIf="productMasterData; else ghostUI">
                <form [formGroup]="clientForm">
                    <ng-container *ngFor="let item of productMasterData; let j = index">
                        <!-- Main Category -->
                        <div class="select-all d-flex justify-content-between reverse-select mt-2">
                            <div class="request-card_content_title">
                                {{ item.name }}
                            </div>
                            <mat-checkbox class="example-margin" (change)="selctAll($event, j)"
                                >Select all
                            </mat-checkbox>
                        </div>
                        <!-- Description If have -->
                        <p class="p-2"></p>
                        <!-- Subcategory -->
                        <mat-selection-list
                            (selectionChange)="onSelect($event)"
                            [disableRipple]="true"
                            #item
                        >
                            <mat-list-option
                                [ngClass]="{ 'bg-color': i % 2 == 0 }"
                                [value]="obj.id"
                                *ngFor="let obj of item.subCategories; let i = index"
                                [selected]="isChecked(obj.id)"
                            >
                                {{ obj?.name }}
                            </mat-list-option>

                            <!-- <div class="mb-3" *ngIf="j == 0">
                                <mat-list-option
                                    [value]="'other-' + j"
                                    [selected]="otherStatusSetSelected"
                                >
                                    Other
                                </mat-list-option>
                            </div> -->
                        </mat-selection-list>
                        <!-- Custome Product input -->
                    </ng-container>
                </form>
            </ng-container>
        </div>
        <!-- </ng-container> -->

        <button type="button" color="primary" mat-flat-button class="w-100 mt-4" (click)="next()">
            Next
        </button>
    </mat-card-content>
</mat-card>

<!-- shimmer loader -->
<ng-template #ghostUI>
    <div class="card p-3">
        <div class="member-item" *ngFor="let item of [0, 1, 2]">
            <app-shimmer-loader type="table"></app-shimmer-loader>
        </div>
    </div>
</ng-template>
