<div class="shimmer-list ghost-ui" *ngIf="type === 'form'">
    <form class="member-item">
        <div class="d-flex justify-content-sm-around row mt-2">
            <div class="col-md-4">
                <div class="form-shimmer"></div>
            </div>
            <div class="col-md-4">
                <div class="form-shimmer"></div>
            </div>
            <div class="col-md-4">
                <div class="form-shimmer"></div>
            </div>
        </div>
        <div class="d-flex justify-content-around row mt-2">
            <div class="col-md-6">
                <div class="form-shimmer"></div>
            </div>
            <div class="col-md-6">
                <div class="form-shimmer"></div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <div class="form-shimmer"></div>
            </div>
            <div class="col-md-6">
                <div class="form-shimmer"></div>
            </div>
        </div>
        <!-- <div class="row mt-2"></div> -->
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-shimmer"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-shimmer"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-shimmer"></div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-shimmer"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-6">
                <!-- <div class="d-flex align-item-center"> -->
                <div class="form-shimmer"></div>

                <!-- </div> -->
            </div>
            <div class="col-md-6 w-100">
                <div class="form-shimmer"></div>
            </div>
        </div>
    </form>
</div>

<div class="ghost-ui" *ngIf="type === 'table'">
    <div class="member-item-name shimmer"></div>
    <div class="member-item-dob shimmer"></div>
    <div class="member-item-status shimmer"></div>
</div>

<div class="ghost-ui" *ngIf="type === 'tradeform'">
    <form>
        <div class="row">
            <div class="col-md-12">
                <div class="form-shimmer"></div>
            </div>
        </div>
        <div class="request-card_trading-text mt-3 mb-2">
            <div class="form-shimmer"></div>
        </div>
        <ng-container>
            <div class="d-flex row">
                <div class="col-md-6">
                    <div class="form-shimmer"></div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-md-6">
                    <div class="form-shimmer"></div>
                </div>
                <div class="col-md-6">
                    <div class="form-shimmer"></div>
                </div>
            </div>
        </ng-container>

        <div class="row mt-sm-4">
            <div class="col-md-6 location-card">
                <div class="member-item-name shimmer"></div>
                <div class="member-item-dob shimmer"></div>
                <div class="member-item-status shimmer"></div>
            </div>
            <div class="col-md-6 business-card location-card">
                <div class="member-item-name shimmer"></div>
                <div class="member-item-dob shimmer"></div>
                <div class="member-item-status shimmer"></div>
            </div>

            <div class="col-md-6 mt-4 business-card">
                <div class="member-item-name shimmer"></div>
                <div class="member-item-dob shimmer"></div>
                <div class="member-item-status shimmer"></div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="member-item-name shimmer"></div>
                <div class="member-item-dob shimmer"></div>
                <div class="member-item-status shimmer"></div>
            </div>
        </div>
    </form>
</div>
