.number {
    background: #f2f4f7;
    border-radius: 20px;
    margin-left: 17px;
    display: flex;
    align-items: center;
    padding: 5px 10px;
}
.search-field {
    position: absolute;
    right: 25px;
    width: 25% !important;
}
