<form [formGroup]="tradingInfoForm">
    <div class="row d-flex justify-content-center">
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="outline">
                <mat-label>Trading Name</mat-label>
                <input
                    matInput
                    formControlName="trading_name"
                    placeholder="Trading name"
                    maxlength="85"
                />
                <mat-error *ngIf="errorHandling('trading_name', 'minlength')">
                    Trading name should be of at least 2 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="outline">
                <mat-label>Trading address</mat-label>
                <input
                    matInput
                    formControlName="tradingAddress"
                    placeholder="Trading address"
                    maxlength="85"
                />
                <mat-error *ngIf="errorHandling('tradingAddress', 'required')">
                    Trading address is required
                </mat-error>
                <mat-error *ngIf="errorHandling('tradingAddress', 'minlength')">
                    Trading address should be of at least 2 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="outline">
                <mat-label>Trading Town/City</mat-label>
                <input matInput formControlName="city" placeholder="Town/City" maxlength="65" />
                <mat-error *ngIf="errorHandling('city', 'required')">
                    Town/City is required
                </mat-error>
                <mat-error *ngIf="errorHandling('city', 'minlength')">
                    Town/City should be of at least 2 characters
                </mat-error>
            </mat-form-field>
        </div>
        <div class="col-md-3 mb-3">
            <mat-form-field appearance="outline">
                <mat-label>Trading Postcode</mat-label>
                <input matInput formControlName="zip" placeholder="Trading Postcode" />
                <mat-error *ngIf="errorHandling('zip', 'required')">
                    Postcode/zip is required
                </mat-error>
                <mat-error *ngIf="errorHandling('zip', 'pattern')">
                    Postcode/zip is invalid
                </mat-error>
            </mat-form-field>
        </div>
        <ng-container *ngIf="!editMode; else edit">
            <div class="col-md-3">
                <div class="request-card_trade-wrap py-3 px-3">
                    <div class="trading">
                        <p>Sector of intended trade</p>
                        <div class="request-card_trade-wrap_dropdown p-2">
                            <div
                                class="account-type d-flex"
                                *ngFor="
                                    let item of tradingInfo?.sector_of_intended_trade;
                                    let i = index
                                "
                            >
                                <div class="d-flex align-item-center mb-2">
                                    <div class="check-icon">
                                        <mat-icon style="position: relative; width: 24px"
                                            ><img src="assets/images/check-item.svg" alt="check"
                                        /></mat-icon>
                                    </div>

                                    <div class="trade-info">
                                        <span [title]="item?.name" class="ml-2">{{
                                            item?.name
                                        }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="request-card_trade-wrap py-3 px-3">
                    <div class="trading">
                        <p>Business location(s)</p>
                        <div class="request-card_trade-wrap_dropdown p-2">
                            <div
                                class="account-type"
                                *ngFor="let item of tradingInfo?.physical_presence; let i = index"
                            >
                                <mat-icon style="position: relative; width: 24px"
                                    ><img
                                        [src]="
                                            'assets/svg-country-flags/svg/' +
                                            item?.iso2?.toLowerCase() +
                                            '.svg'
                                        "
                                        alt=""
                                /></mat-icon>
                                <span [title]="item?.name" class="ml-3">{{ item?.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="request-card_trade-wrap py-3 px-3">
                    <div class="trading">
                        <p>Customer location(s)</p>
                        <div class="request-card_trade-wrap_dropdown p-2">
                            <div
                                class="account-type"
                                *ngFor="
                                    let item of tradingInfo?.countries_of_presence_operations;
                                    let i = index
                                "
                            >
                                <mat-icon style="position: relative; width: 24px"
                                    ><img
                                        [src]="
                                            'assets/svg-country-flags/svg/' +
                                            item?.iso2?.toLowerCase() +
                                            '.svg'
                                        "
                                        alt=""
                                /></mat-icon>
                                <span [title]="item?.name" class="ml-3">{{ item?.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="request-card_trade-wrap py-3 px-3">
                    <div class="trading">
                        <p>Countries of intended trade</p>
                        <div class="request-card_trade-wrap_dropdown p-2">
                            <div
                                class="account-type"
                                *ngFor="
                                    let item of tradingInfo?.countries_of_intended_trade;
                                    let i = index
                                "
                            >
                                <mat-icon style="position: relative; width: 24px"
                                    ><img
                                        [src]="
                                            'assets/svg-country-flags/svg/' +
                                            item?.iso2?.toLowerCase() +
                                            '.svg'
                                        "
                                        alt=""
                                /></mat-icon>
                                <span [title]="item?.name" class="ml-3">{{ item?.name }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</form>

<ng-template #edit>
    <div class="container-fluid">
        <div class="row d-flex">
            <div class="col-md-3 p-3">
                <!-- <app-multi-select
          [items]="caseService.industorySectorListItem"
          [selected]="controls['sector_of_intended_trade'].value"
          title="Sector of intended trade"
          searchPlaceholder="Search for sector of intended trade"
          (onSelectItem)="selectItemEvent($event, 'sector_of_intended_trade')"
        ></app-multi-select> -->
            </div>
            <div class="col-md-3 p-3">
                <!-- <app-multi-select
          [items]="caseService.countryListItem"
          [selected]="controls['physical_presence'].value"
          title="Business location(s)"
          searchPlaceholder="Search for Business location(s)"
          (onSelectItem)="selectItemEvent($event, 'physical_presence')"
        ></app-multi-select> -->
            </div>
            <div class="col-md-3 p-3">
                <!-- <app-multi-select
          [items]="caseService.countryListItem"
          [selected]="controls['countries_of_presence_operations'].value"
          title="Customer location(s)"
          searchPlaceholder="Search for Customer location(s)"
          (onSelectItem)="
            selectItemEvent($event, 'countries_of_presence_operations')
          "
        ></app-multi-select> -->
            </div>
            <div class="col-md-3 p-3">
                <!-- <app-multi-select
          [items]="caseService.countryListItem"
          [selected]="controls['countries_of_intended_trade'].value"
          title="Countries of intended trade"
          searchPlaceholder="Search for countries of intended trade"
          (onSelectItem)="
            selectItemEvent($event, 'countries_of_intended_trade')
          "
        ></app-multi-select> -->
            </div>
        </div>
    </div>
</ng-template>
