<mat-card class="request-card p-sm-5 mt-3">
    <div class="mb-4 navigation">
        <div class="d-flex justify-content-end">
            <span class="float-right outer-div pointer" (click)="forward()"
                >Forward<mat-icon class="pointer ml-2"> arrow_forward</mat-icon></span
            >
        </div>
        <!-- <div class="text-right">
        </div> -->
    </div>
    <div class="d-flex justify-content-between header">
        <p class="request-card_title">Company Profile</p>
        <div class="d-flex back-home">
            <button mat-stroked-button class="mr-3" (click)="returnHome()">
                <img src="assets/images/home-Icon.svg" class="mr-2" alt="home-ico" /><span
                    class="icon-btn-text"
                    >Return to home</span
                >
            </button>
        </div>
    </div>
    <div *ngIf="companyDocs.files.length > 0; else noDataFound">
        <p class="sub_title">In order to proceed, please provide the following documentation.</p>
        <hr />
        <mat-card-content>
            <div class="row">
                <div class="col-md-5 col-xl-5 col-sm-12 col-xs-12 pt-3">
                    <app-document-list
                        (activeDocument)="activeDoc($event)"
                        (onDocComplete)="forward()"
                    ></app-document-list>
                </div>

                <div class="col-md-7 col-xl-7 col-sm-12 col-xs-12 pt-2">
                    <app-upload-container
                        (completeDocument)="setDocumentComplete($event)"
                        [docFiles]="file"
                        [entityId]="entityId"
                        [caseId]="caseId"
                    ></app-upload-container>
                </div>
            </div>
        </mat-card-content>
    </div>
    <ng-template #noDataFound>
        <div class="noData">
            <img src="assets/images/empty-data.svg" alt="info-circle" />
        </div>
        <h3 class="text-center p-3">No documents requested</h3>
    </ng-template>
</mat-card>
