<div class="login-container">
    <mat-card class="login-card p-sm-5">
        <mat-card-header>
            <div class="m-auto p-4">
                <mat-card-title>
                    <img mat-card-image src="assets/images/mercore-logo.svg" alt="mercore-logo" />
                </mat-card-title>
            </div>
        </mat-card-header>
        <mat-card-content>
            <div class="form-title my-3">Forgot password</div>
            <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                <div class="input-field">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <img
                            src="assets/images/email.svg"
                            alt="email"
                            matSuffix
                            class="input-icon"
                        />
                        <input matInput type="text" formControlName="email" placeholder="Email" />
                        <!-- Error -->
                        <mat-error *ngIf="controls['email'].hasError('required')">
                            {{ validationMessage.email.required }}
                        </mat-error>
                        <mat-error *ngIf="controls['email'].hasError('pattern')">
                            {{ validationMessage.email.valid }}
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <button
                        type="submit"
                        mat-flat-button
                        color="primary"
                        class="w-100 my-4"
                        [disabled]="resetForm.invalid"
                    >
                        Send reset link
                    </button>
                </div>
                <div class="bold-link text-center">
                    <a [routerLink]="loginPath">Go back to login</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>
