<div class="container">
    <div class="login-container">
        <mat-card class="login-card p-sm-5">
            <mat-card-header>
                <div class="m-auto">
                    <mat-card-title>
                        <img
                            mat-card-image
                            src="assets/images/mercore-logo.svg"
                            alt="mercore-logo"
                        />
                    </mat-card-title>
                </div>
            </mat-card-header>
            <ng-container *ngIf="!successFullSubmission; else thanks">
                <mat-card-content>
                    <div class="form-title my-4">Set your password</div>
                    <form [formGroup]="createPasswordForm" (ngSubmit)="onSubmit()">
                        <div class="input-field mb-1">
                            <mat-form-field appearance="outline" class="w-100 pb-3">
                                <mat-label>Password</mat-label>
                                <input
                                    matInput
                                    type="password"
                                    formControlName="password"
                                    placeholder="Password"
                                    [type]="passhide ? 'password' : 'text'"
                                />
                                <button
                                    type="button"
                                    mat-icon-button
                                    matSuffix
                                    (click)="passhide = !passhide"
                                >
                                    <mat-icon>{{
                                        passhide ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                                </button>
                                <!-- Error -->
                                <mat-error *ngIf="controls['password'].hasError('required')">
                                    {{ validationMessage.password.required }}
                                </mat-error>
                                <mat-error *ngIf="controls['password'].hasError('maxlength')">
                                    {{ validationMessage.password.maxLength }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="input-field">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label>Confirm Password</mat-label>
                                <input
                                    matInput
                                    type="password"
                                    formControlName="confirmPassword"
                                    placeholder="Confirm Password"
                                    [type]="confPasshide ? 'password' : 'text'"
                                />
                                <button
                                    type="button"
                                    mat-icon-button
                                    matSuffix
                                    (click)="confPasshide = !confPasshide"
                                >
                                    <mat-icon>{{
                                        confPasshide ? 'visibility_off' : 'visibility'
                                    }}</mat-icon>
                                </button>
                                <!-- Error -->
                                <mat-error *ngIf="controls['confirmPassword'].hasError('required')">
                                    {{ validationMessage.password.required }}
                                </mat-error>
                                <mat-error
                                    *ngIf="controls['confirmPassword'].hasError('mustMatch')"
                                >
                                    {{ validationMessage.password.mustMatch }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="instruct-container">
                            <p class="label">Your password must contain:</p>
                            <div class="message">
                                <img src="{{ getValidateIcon('minlength') }}" alt="" />
                                <span>At least 8 characters</span>
                            </div>
                            <div class="message">
                                <img src="{{ getValidateIcon('uppercase') }}" alt="" />
                                <span>At least 1 capital letter</span>
                            </div>
                            <div class="message">
                                <img src="{{ getValidateIcon('specail') }}" alt="" />
                                <span
                                    >At least 1 special character
                                    <img
                                        src="assets/images/info-circle.png"
                                        alt="tooltip"
                                        matSuffix
                                        matTooltip="#,\,€,₹ and £ character not accepted"
                                        class="pointer char-tooltip"
                                        matTooltipPosition="right"
                                    />
                                </span>
                            </div>
                            <div class="message">
                                <img src="{{ getValidateIcon('number') }}" alt="" />
                                <span>At least 1 number</span>
                            </div>
                            <p class="label mb-0 mt-4">Strength:</p>
                            <div class="strength">
                                <ul class="strengthBar">
                                    <li
                                        class="point"
                                        [style.background-color]="getBarColor(1)"
                                    ></li>
                                    <li
                                        class="point"
                                        [style.background-color]="getBarColor(2)"
                                    ></li>
                                    <li
                                        class="point"
                                        [style.background-color]="getBarColor(3)"
                                    ></li>
                                    <li
                                        class="point"
                                        [style.background-color]="getBarColor(4)"
                                    ></li>
                                </ul>
                                <br />
                            </div>
                            <p class="strength-message">
                                Avoid passwords that you use with other websites or that might be
                                easy to guess.
                            </p>
                        </div>
                        <div>
                            <button
                                type="submit"
                                mat-flat-button
                                color="primary"
                                class="w-100 my-4"
                                [disabled]="!createPasswordForm.valid"
                            >
                                Set Password
                            </button>
                        </div>
                        <div class="bold-link text-center">
                            <a [routerLink]="loginPath">Go back to login</a>
                        </div>
                    </form>
                </mat-card-content>
            </ng-container>
        </mat-card>
    </div>
</div>
<ng-template #thanks>
    <div class="text-center primary-text thankyou">
        <img src="assets/images/success-right.svg" alt="" />
        <div class="thankyou_thank-text mt-3">Thank You</div>
        <p class="py-4">Your Password has been successfully updated.</p>
        <button
            [routerLink]="loginPath"
            mat-flat-button
            color="primary"
            class="w-100 my-4"
            type="button"
        >
            Let’s Get Started
        </button>
    </div>
</ng-template>
