.progress-cont {
    height: 5px;
    width: 100%;
    border-radius: 4px;
    background-color: #d0d0d0;
    position: relative;

    .complete-progress {
        width: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 4px;
        background-color: var(--color-success-tint);
        transition: 0.5s all;
    }

    .in-progress {
        width: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 4px;
        background-color: var(--color-warning);
        transition: 0.5s all;
    }

    .error-progress {
        width: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 4px;
        background-color: var(--color-danger-red);
        transition: 0.5s all;
    }
}
