.instruct-container {
    border: 1px solid #d7d7de;
    border-radius: 5px;
    padding: 17px;
    background-color: #fcfcfd;
    margin-top: 14px;

    .label {
        font-size: 14px;
        font-weight: 600;
        line-height: 17px;
        font-family: Inter-Regular;
        color: var(--color-primary);
        letter-spacing: -0.2px;
    }
    .message {
        margin-bottom: 10px;
        span {
            font-weight: 400;
            line-height: 19px;
            color: var(--gray-background);
            margin-left: 10px;
            font-family: Inter-Regular;
        }
    }
    .strength-message {
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        color: var(--gray-background);
        margin-top: 10px;
    }
    .strengthBar {
        display: inline;
        list-style: none;
        margin: 0;
        padding: 0;
        vertical-align: 2px;
        .point {
            background: #ddd;
            display: inline-block;
            height: 5px;
            width: 25%;
        }
    }
}
.thank-text {
    font-weight: 500;
    margin-top: 12px;
    font-size: 25px;
    line-height: 30px;
}
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    padding: 2px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: var(--grey-scollbar);
    border-radius: 30px;
}
.login-container .login-card {
    height: 90vh;
    overflow-y: scroll;
}
.thankyou {
    &_thank-text {
        font-family: Inter-Medium;
        margin-top: 10px;
    }
    p {
        font-family: Inter-Medium;
    }
}
