.main-wrap {
    p {
        color: var(--color-tertiary-tint);
        font-family: Inter-Medium;
        font-size: 13px;
    }
    .document-tabs {
        .list-document {
            border: 1px solid #e1e4ea;
            height: 70px !important;
            cursor: pointer;
            font-size: 13px;
            position: relative;
            border-radius: 7px;
            font-family: Inter-Medium;
            color: #9ca1ab;
            margin: 10px 0px;

            ::ng-deep .radio-btn {
                & .mat-checkbox-frame,
                .mat-checkbox-background {
                    border-radius: 50% !important;
                    height: 20px;
                    width: 20px;
                }
            }
        }
        .doc-icon {
            font-size: 19px;
        }

        .radio-btn {
            position: absolute;
            right: 30px;
        }
        .completed {
            background: #f3fff4;
            border: 2px solid var(--color-success-shade);
            color: var(--color-success-shade);
            ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
            .mat-checkbox-indeterminate .mat-checkbox-background {
                background-color: #4caf50 !important;
            }
        }
        .active {
            background: var(--color-primary);
            box-shadow: 0px 13px 20px rgba(160, 170, 181, 0.3);
            color: var(--color-secondary-contrast);
            ::ng-deep {
                .mat-checkbox-frame {
                    border-color: transparent;
                    background: #08060654;
                }
                .mat-icon {
                    color: var(--color-light) !important;
                    opacity: 0.5;
                    font-weight: 400;
                }
            }
        }
        .default {
            ::ng-deep {
                .mat-checkbox-frame {
                    border-color: transparent;
                    background: #e5eaf1;
                }
            }
        }
    }
}
@media screen and (max-width: 820px) {
    .word-break {
        word-break: break-all;
        width: 70%;
    }
}
.list-style {
    padding-right: 20px;
}
