<div class="request-card">
    <div class="d-flex justify-content-between pb-3">
        <span class="pointer outer-div" (click)="back()">
            <mat-icon class="pointer mr-2">arrow_back</mat-icon>Back
        </span>
    </div>
    <p class="heading">Corporate Entity - Product Selection</p>
    <p class="sub-heading">
        Please indicate the types of activity you are hoping to conduct with Mercore (select all
        that apply)​
    </p>
    <mat-card-content class="pt-4">
        <div class="request-card_content">
            <ng-container *ngIf="productMasterData; else ghostUI">
                <form [formGroup]="clientForm">
                    <ng-container *ngFor="let item of productMasterData; let j = index">
                        <!-- Main Category -->
                        <div class="select-all d-flex justify-content-between reverse-select mt-2">
                            <div class="request-card_content_title">
                                {{ item.name }}
                            </div>
                            <mat-checkbox class="example-margin" (change)="selctAll($event, j)"
                                >Select all
                            </mat-checkbox>
                        </div>
                        <!-- Subcategory -->
                        <mat-selection-list
                            (selectionChange)="onSelect($event)"
                            [disableRipple]="true"
                            #item
                        >
                            <mat-list-option
                                [ngClass]="{ 'bg-color': i % 2 == 0 }"
                                [value]="obj.id"
                                *ngFor="let obj of item.subCategories; let i = index"
                                [selected]="isChecked(obj.id)"
                            >
                                {{ obj?.name }}
                            </mat-list-option>
                        </mat-selection-list>
                    </ng-container>
                </form>
            </ng-container>
        </div>
        <!-- </ng-container> -->

        <button
            type="button"
            color="primary"
            mat-flat-button
            class="w-100 mt-4"
            [disabled]="clientForm.invalid"
            (click)="submit()"
        >
            Next
        </button>
    </mat-card-content>
</div>

<!-- shimmer loader -->
<ng-template #ghostUI>
    <div class="p-3">
        <div class="member-item" *ngFor="let item of [0, 1, 2]">
            <app-shimmer-loader type="table"></app-shimmer-loader>
        </div>
    </div>
</ng-template>
